body {
	font-family:arial;
}

ul {
	list-style-type:none;
}

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

img {
	max-width:100%;
	width:100%;
}
.header{
	background:linear-gradient(to left, rgba(186,233,235,0.6), rgba(186, 233, 235, 0.6)),url(img/fshnmainbg.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}

.header_title{
	background-color:rgba(227,246,255,0.7);
}

.container{
	max-width:1200px;
	margin:0 auto;
}

.header__nav__top{
	display:flex;
	justify-content:space-between;
	border-bottom:1px solid #000;
	padding:17px 0;
} 



.header__nav__top p {
	display:inline-block;
}

.nav__top__first > p:nth-child(2){
	margin-left:45px;
}

.header__nav__bottom{
	display:flex;
	justify-content:space-between;
	padding:17px 0;
	align-items:center;
	font-weight:700;
}

.nav_bottom_last{
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.nav_bottom_nav > .nav_bottom_link{
	margin-right:14px;
}

.nav__top__second{
	text-transform:uppercase;
	font-weight:700;
}

.first{
	margin-right:10px;
}

.mail{
	font-weight:700;
}

.nav_bottom_logo{
	font-size:25px;
}

/* banner */

.banner{
	
	background-repeat:no-repeat;
	background-size:cover;
	min-height:955px;
	position:relative;
}

.banner_first{
	position:absolute;
	top:55%;
	left:36%;
	transform:translate(-50%,-50%);
	line-height:0.8;
	text-align:center;
	
}

.banner_first h1{
	font-size:120px;
	text-transform:uppercase;
	text-align:center;
}

.banner_first > h1:nth-child(2){
	color:#f9236f;
}

.banner_first span{
	display:block;
	text-align:center;
	font-size:50px;
	letter-spacing:100px;
	font-weight:700;
}
.banner__second_img{
	position:absolute;
	right:0;
	bottom:-3px;
	
}

.banner_first> p:nth-child(4) {
	text-align: center;
	max-width: 542px;
	margin: 0 auto;
	line-height:1.2;
}
.num {
	font-size:50px;
	text-align:right;
	font-weight:700;
	letter-spacing:100px;
	margin-bottom:5%;
}

.button{
	display:inline-block;
	background-color:#f92348;
	padding:3% 6%;
	color:#fff;
	text-decoration:none;
	font-size:20px;
	margin-top:10%;
	font-weight:700;
}

/* content */

.content{
	background-image:url(img/contentbg.jpg);
}

.content_title{
	display:flex;
	justify-content:space-around;
	align-items:center;
	
	
}

.container_all{
	background-color:#fff;
	position:relative;
	top:-50px;
}
.content_inner_item{
	text-align:center;
	margin-top:-6%;
}

.content_inner_item h2{
	line-height:42px;
}



.img{
	display:inline-block;
	padding:40px;
	background-color:#fff;
	border-radius:50%;
}

.content_suptitle{
	display:flex;
	justify-content:space-between;
	max-width:1108px;
	margin:3% auto 0;
}

.content_suptitle_item{
	position:relative;
}
.banner_first-contmod h1 {
	font-size:40px;
	text-align:left;
	text-transform:capitalize;
}

.banner_first-contmod{
	max-width:300px;
	width:100%;
	position:absolute;
	text-align:left;
}

.banner_first-contmod p {
	max-width:230px;
	width:100%;
	line-height:1.5;
}

.content_col_text{
	text-align:center;
	padding-top:6%;
}

.content_col_text h2{
	text-transform:uppercase;
	font-weight:700;
	padding-bottom:0.5%;
}

.columns_items{
	display:flex;
	justify-content:space-around;
	padding:1% 0 7%;
	margin-bottom:-7%;
}

 .column_item{
	flex:0 1 18%;
	text-align:center;
}


.column_item_photo{
	max-width:100%;
	width:100%;
	height:23vh;
}

.column_item  h3 {
	padding:3% 0;
}

.column_item > img:nth-child(4){
	margin:4% 0;
}

.column_item span{
	text-decoration:line-through;
	color:#787878;
	margin-right:5px;
}

.column_item > p:nth-child(5) {
	font-weight:700;
	
}

/* news */

.news{
	background-image:url(img/newsbg.jpg);
	background-repeat:repeat-y;
	background-size:cover;
}

.news_text h2{
	text-transform:capitalize
}

.news_content{
	display:flex;
	justify-content:space-between;
	padding:2% 0 14%;
}

.news_img{
	max-width:100%;
}

.news_content_item{
	flex:0 1 30%;
	background-color:#fff;
}

.news_texts{
	padding:20px;
}

.news_texts p:nth-child(1){
	color:#515151;
	font-weight:700;
	font-size:21px;
	
}

.news_texts p:nth-child(2){
	color:#a8a8a8;
	font-weight:700;
	font-size:16px;
	line-height: 1.8;
}

.news_texts p:nth-child(3){
	padding:10px 0;
	line-height:1.4;
	font-size:18px;
}

.btn--contmod{
	padding:3% 6%;
	margin-top:0;
	font-size:16px;
}

.news_footer{
	display:flex;
	justify-content:space-between;
	align-items:center;
}

/* products */

.products{
	background-image:url(img/contentbg.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}

.products_content{
	background-color:#fff;
	position:relative;
	top:-6em;
	margin-bottom:-11em;
}

.products_column_inner{
	display:flex;
	align-items:center;
	padding:2% 0;
}

.products_column_inner:not(:last-child){
	border-bottom:2px solid gray;
}

.products_columns{
	display:flex;
	justify-content:space-around;
	padding:5% 0 3.4%;
	border-bottom:2px solid gray;
}

.products_column{
	flex:0 1 33%;
}

.products_column h2 {
	text-align:center;
	padding-bottom:4%;
}
.products_column_inner img{
	max-width:124px;
	width:100%;
}

.column_inner_texts {
	margin-left:2%;
}

.column_inner_texts img{
	margin:2% 0 3%;
}

.column_inner_texts span{
	text-decoration:line-through;
	color:#7e7e7e;
	font-size:16px;
}

.column_inner_texts p:nth-child(4){
	color:#f92349;
	font-weight:700;
	font-size:18px;
}

.products_column--img{
	background-image:url(img/productsbg.jpg);
	background-repeat: no-repeat;
	max-width: 317px;
	background-size: cover;
	max-height: 88vh;
	position:relative;
}



.products_column--img span{
	text-align:center;
	font-size:80px;
}

.zkl{
	padding:17% 0;
	border:4px solid white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width:100%;
}
.zkl p {
	font-size:3.4rem;
	text-transform:uppercase;
	color:#fff;
	font-weight:700;
	line-height:0.9;
}

.zkl p:nth-child(even){
	font-size:5.9rem;
	letter-spacing: -6px;
}



.zkl p:nth-child(1){
	font-size:3.4rem;
}

.zkl p:nth-child(3){
	font-size:2.9rem;
}

.zkl p:nth-child(4):after{
	content: '';
	display: block;
	width: 93%;
	height: 3px;
	background-color: #fff;
	margin: 0 auto;
	margin-top: 13px;
}

.zkl p:last-child{
	font-size:7.4rem;
	text-align:center;
}

.footer_inner{
	text-align:center;
	max-width:700px;
	margin:0 auto;
	padding: 2% 0 0;
}

.footer_inner p:nth-child(1){
	font-size:25px;
	font-weight:700;
	padding-top:64px;
}

.footer_inner p:nth-child(2){
	line-height:2;
}

.footer_inner input{
	display:inline;
	max-width:525px;
	width:100%;
	outline:none;
	border:1px solid gray;
	max-height:40px;
	height:40px;
	font-size:30px;
	

}

.btn-footer{
	padding:1% 1%;
	margin:0;
	height:40px;
	margin-left: 1%;
	
}

.footer_inner_suptitle{
	display:flex;
	padding:40px 0 54px;
	
}
/* logos */

.logos{
	background-color:#eee;
}

.logo_pos{
	text-align:center;
	padding:11% 0 1%;
}

/* footer */ 
	
.footer{
	background:linear-gradient(to left, rgba(249,35,110,0.6),rgba(249,35,110,0.6)), url(img/contentbg.jpg);
}	

.footer p{
	color:#fff;
	opacity:0.7;
}
	
.footer_content{
	display:flex;
	justify-content:space-between;
	padding-top:7%;
}

.footer_content_item{
	flex:1 1 24%;
}

.item_container{
	max-width:51%;
	width:100%;
	margin:0 auto;
}

.footer_content_item h3{
	color:#fff;
	padding-bottom:30px;
	font-weight: 700;
	text-transform: capitalize;
}

.large_txt{
	padding-bottom:8%;
	max-width: 257px;
	width: 100%;
}

.number{
	padding:4% 0;
}



.mood p:nth-child(n+3){
	margin-left:17px;
	position:relative;
}

.mood p:nth-child(n+3):before{
	content:'';
	display:block;
	background-image:url(img/before.png);
	background-repeat:no-repeat;
	width:30px;
	height:21px;
	position:absolute;
	top:50%;
	left:-6%;
	transform:translate(-50%,-50%);
}

.account li:not(:first-child){
	margin-top:15px;
}

.content_item_inner_deg p::before{
	content:'';
	display:block;
	background-image:url(img/google.png);
	background-repeat:no-repeat;
	height:23px;
	width:23px;
	position:absolute;
	top:50%;
	left:-12%;
	transform:translate(-50%,-50%);
	
}

.content_item_inner_deg:nth-child(1) p {
	margin-left:17px;
	
}
.content_item_inner{
	display:flex;
	justify-content:space-between;
	max-width:217px;
	width:100%;
	padding-bottom:11%;
}

.content_item_inner_deg p{
	position:relative;
	margin:5px 0;
	text-transform:capitalize;
	padding-left: 11px;
}

.item_container--last{
	max-width:250px;
	width:100%;
}

.footer_suptitle{
	text-align:center;
}
.footer_suptitle p {

	text-align: center;
	padding: 2% 0 0%;
	display: inline-block;
	margin-left: 31px;
}

.account{
	color:#fff;
	opacity:0.7;
}

.footer_suptitle p:last-child {
	display:block;
	padding-bottom:2%;
} 